body {
  font-family: sans-serif;
}

.top-header {
  padding-top: .5rem;
  padding-left: 2rem;
  padding-right: .5rem;
  padding-bottom: 1rem;
  background-color: black;
}

.general-booking {
  color: rgb(162,	39,	52);
  font-size: 1.2rem;
  float: right;
  padding-right: .5rem;
}
.general-booking:after {
    content:' \2794'; /* Unicode 2794 heavy wide-headed right arrow */
}

.specific-booking {
  color: rgb(196,	79,	68);
  float: right;
}
.specific-booking:after {
    content:' \2794'; /* Unicode 2794 heavy wide-headed right arrow */
}

.main-title {
  color: white;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: .5rem;
}

section {
  padding-left: 1.5rem;
}

.sub-title {
  color: grey;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

nav {
  background-color: grey;
  padding-left: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 2px 4px grey; /* blur bottom edge */
}

nav a {
  color: purple;
}

.story {
  line-height: 1.5rem;
}

.testimonial {
  font-style: italic;
  line-height: 1.5rem;
}

footer {
  color: white;
  background-color: black;
  padding: 1rem;
}

address {
  font-style: normal;
  /* override italic */
}

aside {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 270px;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.feature-header {
  text-align: center;
}

.feature-name {
  margin-top: .2rem;
  margin-bottom: .2rem;
  text-align: center;
}

.kitty-mail {
  color: rgb(162,	39,	52);
}

.footer-bottom {
  line-height: .5rem;
  text-align: center;
}

.aside-image {
  width: 207px;
  height: 123px;
}

.feature-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.feature-col1 {
  font-size: .9rem;
  width: 55%;
}
.feature-col1 p {
  margin-bottom: 0;
}

.feature-col2 {
  width: 45%;
}

.dark-feature {
  color: white;
  background-color: black;

  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
