body {
  font-family: sans-serif;
}



.top-header {
  padding-top: .5rem;
  padding-left: 2rem;
  padding-right: .5rem;
  padding-bottom: 1rem;
  background-color: black;
}

.general-booking {
  color: rgb(162,	39,	52);
  font-size: 1.2rem;
  float: right;
  padding-right: .5rem;
}
.general-booking:after {
    content:' \2794';
}

.specific-booking {
  color: rgb(196,	79,	68);
  float: right;
}
.specific-booking:after {
    content:' \2794';
}

.main-title {
  color: white;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: .5rem;
}

section {
  padding-left: 1.5rem;
}

.sub-title {
  color: grey;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

nav {
  background-color: grey;
  padding-left: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  box-shadow: 0 2px 4px grey; /* blur bottom edge */
}

nav a {
  color: purple;
  flex: 1;
}

.story {
  line-height: 1.5rem;
}

.testimonial {
  font-style: italic;
  line-height: 1.5rem;
}

footer {
  color: white;
  background-color: black;
  padding: 1rem;
}

address {
  font-style: normal;
  /* override italic */
}

section {
  /* avoid breaking layout */
  min-width: 800px;
  min-height: 550px;
}

aside {
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: right;
  width: 240px;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.feature-header {
  text-align: center;
}

.feature-name {
  margin-top: .2rem;
  margin-bottom: .2rem;
  text-align: center;
}

.kitty-mail {
  color: rgb(162,	39,	52);
}

.footer-bottom {
  line-height: .5rem;
  text-align: center;
}

.aside-image {
  width: 207px;
  height: 123px;
}

.feature-col1 {
  width: 55%;
  float: left;
}

.feature-col2 {
  display: table-cell;
  vertical-align: bottom;
  height: 55px;
  width: 45%;

}
