.top-header {
  font-family: sans-serif;
  padding-top: .5rem;
  padding-left: 2rem;
  padding-right: .5rem;
  padding-bottom: 1rem;
  background-color: black;
}

.general-booking {
  color: red;
  font-size: 1.2rem;
  float: right;
  padding-right: .5rem;
}

.specific-booking {
  color: red;
  float: right;
}

.main-title {
  font-family: sans-serif;
  color: white;
  font-size: 3rem;
  margin-bottom: .5rem;
}

section {

}
header {

}

.sub-title {
  font-family: sans-serif;
  color: grey;
  font-size: 1.5rem;
  font-weight:100;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

nav {
  font-family:sans-serif;
  background-color: grey;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
nav a {
  color: purple;
}

h1, h2, h3, h4, p {
  font-family: sans-serif;
}

.story {

}

.testimonial {
  font-style: italic;
}

footer  {
  color: white;
  background-color: black;
  padding: 1rem;
}

address {
  font-family: sans-serif;
  font-style:normal; /* override italic */
}

section {
  /* avoid breaking layout */
  min-width: 800px;
  min-height: 600px;
}

aside {
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: right;
  width: 200px;
  border: 1px solid black;
  padding: 1rem;
  margin-left: 1rem;
}

.feature-header {
  text-align: center;
}

.feature-name {
  text-align: center;
}

.kitty-mail {
  color: red;
}

.footer-bottom {
  text-align: center;
}

/* 207 x 123 */
.aside-image {
  width: 207px;
  height: 123px;
}
